<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Layout</title>

        <link rel="stylesheet" href="style.css">
</head>

<body>
	
	<header id="main-header">
		
		<a id="logo-header" href="#">
			<h1>Header</h1>
		</a> 

        <div class="flex-container">
            <div id="caja1" style="flex-basis: 200px; order: 1; background-color: blue;"">caja 1</div>
            <div div id="caja2" style="flex-basis: 200px; order: 2; background-color: blue;"">caja 2</div>
            <div div id="caja3" style="flex-basis: 200px; order: 3; background-color: blue;"">caja 3</div>
            <div div id="caja4" style="flex-basis: 200px; order: 4; background-color: blue;"">caja 4</div>
        </div>

        <div class="grid-container">
            <div class="item1">Footer Izquierdo</div>
            <div class="item2">Footer Derecho</div>
        </div>
        
            
        
</body>
</html>